<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>StorX Storage Providers (Farmers)</title>


<style>
@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {margin: 0;padding: 0;background-color: #FFFFFF;}

.card-frame {width:840px;padding:30px;background: #FFFFFF;background-image: url(./node-bg.jpg);background-repeat: no-repeat;background-position: center center;}
.card-frameBorder {width:768px;height:374px;padding:30px;border:6px solid #FFFFFF;border-radius:35px;}

.card-header {display: table;}
.card-header .logo-img {width:225px;height:73px;}

.card-body {padding:42px 0px 10px 0px;display:table;}
.card-icon {width:226px;float:left;}
.card-text {margin-right:325px;padding: 0px;text-align:left;}
.card-text p {font-family: 'Open Sans', sans-serif;font-size:32px;font-weight:600;color:#f9c204;line-height:40px;margin:0px;letter-spacing:-0.05rem;}
.card-text p .text-bold {font-size:66px;font-weight:700;color:#FFFFFF;line-height:66px;letter-spacing: 0.75px;text-shadow: 3.5px 0px 0px #0b63c2, 3.5px 0px 0px rgba(11,99,194,0.8);}

.card-footer {margin:0px;padding-top:40px;margin-right:325px;}
.card-footer p {font-family: 'Open Sans', sans-serif;font-size:19px;font-weight:400;color:#FFFFFF;text-align:left;line-height:19px;margin:0px;}
.card-footer p a {color:#FFFFFF;text-decoration:underline;}
</style>
    
</head>

<body>

<!-- START CARD -->
<div class="card-frame">
	<div class="card-frameBorder">
		<div class="card-header">
			<div class="logo-img"><a href="https://storx.tech" target="_blank"><img src="./storx-logo.svg"/></a></div>
		</div>
        
        <div class="card-body">        	
            <div class="card-text">
            	<p>We are happy to announce that the StorX Platform has<br />
                <span class="text-bold">2,700</span><br />
                Storage Providers (Farmers)</p>     
            </div>
        </div>
        <div class="card-footer">        	    
  			<p><a href="https://storx.tech" target="_blank">https://storx.tech</a></p>
        </div>
	</div>
</div>
<!-- END CARD -->

</body>

</html>